@use "../../vars.scss" as *;

fieldset {
  all: unset;
  width: 100%;
  legend {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2px;
  }
}

.fieldset-group {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.legend-group {
  border-bottom: 2px solid $lightLongBreakColor;
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}
