.option-container {
  width: 100%;

  padding: 5px;
  display: flex;
  justify-content: space-between;
  &.selected,
  &.focused {
    background-color: #44318d;
  }
}

.play-sound-button {
  width: 25px;
  background: unset;
  border: none;
  cursor: pointer;
  background-image: url("../../assets/sound-svgrepo-com.svg");
  background-size: 100%;
}
