@use "../../vars" as *;

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header {
  width: 100%;
  padding-top: 20px;
}

#main {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 40px;
}

.current-page-name {
  font-size: 1.3rem;
  flex: 0 0 auto;
  @media screen and (max-width: 840px) {
    font-size: 1.1rem;
  }
  @media screen and (max-width: 670px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 400px) {
    display: none;
  }
}

.logo-container {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.logo {
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
  @media screen and (max-width: 840px) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: 670px) {
    font-size: 1.2rem;
  }
}

.fixed {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  @media screen and (max-width: 840px) {
    align-items: center;
  }
}

.menu-list {
  display: flex;
  gap: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 840px) {
    font-size: 1.1rem;
    gap: 20px;
  }
  @media screen and (max-width: 670px) {
    font-size: 1rem;
    gap: 10px;
  }
}

.menu-list-item {
  list-style-type: none;
}

.menu-list-item a {
  background: $textColor;
  color: $lightLongBreakColor;
  border-radius: 7px;
  box-shadow: 0 7px 0px $lightLongBreakColor;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  position: relative;
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none;
  span:active {
    text-decoration: none;
  }
  @media screen and (max-width: 840px) {
    padding: 7px;
  }
  @media screen and (max-width: 670px) {
    padding: 5px;
  }
  @media screen and (max-width: 550px) {
    span {
      display: none;
    }
    box-shadow: 0 3px 0px $lightLongBreakColor;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    &:first-child {
      background-image: url("../../assets/settings-svgrepo-com.svg");
    }
    li + &:last-child {
      background-image: url("../../assets/stats-svgrepo-com.svg");
    }
    .menu-list-item :active {
      top: 3px;
      box-shadow: 0 1px 0px $lightLongBreakColor;
      transition: all 0.2s;
    }
  }
}

.menu-list-item a:active {
  top: 3px;
  box-shadow: 0 2px 0px $lightLongBreakColor;
  transition: all 0.2s;
}
