@use "../../vars.scss" as *;

.settings-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
}
