.timer-control-btn {
  width: 95px;
  min-width: 55px;
  border: none;
  cursor: pointer;
  background: unset;
  img {
    width: 100%;
    height: 100%;
    user-select: none;
  }
  transition: all ease 0.4s;
  &:hover {
    transform: scale(1.1);
    transition: all ease 0.4s;
  }
}
