@use "../../vars.scss" as *;

.select-state-btn {
  padding: 5px;
  border: 0;
  background: $textColor;
  color: $lightLongBreakColor;
  border-radius: 7px;
  box-shadow: 0 4px 0px $lightLongBreakColor;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
  transition: all 0.2s;
  position: relative;
  top: 0;
  cursor: pointer;

  &.active {
    background: $lightLongBreakColor;
    color: $textColor;
    top: 1px;
    box-shadow: 0 1px 0px $textColor;
    transition: all 0.2s;
  }

  &:active {
    background: $lightLongBreakColor;
    color: $textColor;
    top: 1px;
    box-shadow: 0 1px 0px $textColor;
    transition: all 0.3s;
  }

  @media screen and (max-width: 335px) {
    width: 80%;
  }
}
