@use "../../vars.scss" as *;

.clock {
  position: relative;
  height: 60px;
  width: 60px;
  background: white;
  box-sizing: border-box;
  border-radius: 50%;
  border: 6px solid #ffde64;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.clock .twelve {
  position: absolute;
  width: 2px;
  height: 2.4px;
  background: #262626;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.clock .three {
  position: absolute;
  width: 2.6px;
  height: 0.9px;
  background: #262626;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}
.clock .six {
  position: absolute;
  width: 2px;
  height: 2.4px;
  background: #262626;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.clock .nine {
  position: absolute;
  width: 2.6px;
  height: 0.9px;
  background: #262626;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}
.clock .center {
  height: 1.8px;
  width: 1.8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #262626;
  border-radius: 50%;
}
.clock .hour {
  width: 0.9px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 60s infinite linear;
}
.clock .hour:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 19.8px;
  width: 0.9px;
  top: 9.9px;
}
.clock .minute {
  width: 0.3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 30s infinite linear;
}
.clock .minute:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 13.2px;
  width: 0.3px;
  top: 16.5px;
}
.clock .second {
  width: 0.6px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 15s infinite linear;
}
.clock .second:before {
  position: absolute;
  content: "";
  background: #fd1111;
  height: 14.85px;
  width: 0.6px;
  top: 14.85px;
}
@keyframes time {
  to {
    transform: rotate(360deg);
  }
}

.clock-value {
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
