@use "vars" as *;

@font-face {
  font-family: "Andika";
  src: url("./assets/fonts/Andika-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Andika";
  src: url("./assets/fonts/Andika-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Andika";
  src: url("./assets/fonts/Andika-BoldItalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Andika";
  src: url("./assets/fonts/Andika-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Andika, Arial, Helvetica, sans-serif;
  background-color: $shortBreakColor;
  color: $textColor;
}

#root {
  width: 100%;
  height: 100%;
}

a,
a:hover,
a:visited,
a:active {
  color: unset;
  text-decoration: unset;
}

span:active {
  text-decoration: none;
}
